<template>
  <div class="can-autoplay" v-if="autoPlayChecked">
    <div v-if="!canAutoplay">
      <div>Can't autoplay audio for match alarm, change setting for this website. Clicking anywhere should enable it just for this session</div>
      <button @click="check()">re-check</button>
    </div>
    <div class="is-enabled" v-else>
      ☑️ audio autoplay enabled
    </div>
  </div>
</template>

<script>
import canAutoplay from 'can-autoplay';
export default {
    //name: 'CanAutoplay'
    data() {
      return {
        autoPlayChecked: false,
        canAutoplay: false
      }
    },
    methods: {
      check() {
        this.autoPlayChecked = false
        canAutoplay.audio().then(({result}) => {
          this.autoPlayChecked = true
          this.canAutoplay = (result === true)
        })
      }
    },
    mounted() {
      this.check()
    }
}
</script>

<style>
.can-autoplay > div {
  background-color: #fcff9b;
  border: 3px solid #f9ff2c;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.can-autoplay .is-enabled {
  text-align: right;
}
</style>